*{
    box-sizing:content-box;
    color: rgb(245, 185, 65);
    text-align:left ;
    text-indent: 3px;
    text-decoration:none;
    font-style: bold ;
    margin-right: 8px;
    margin-top:0px ;
    
    
}
    
div header {
    padding: 10px;
    background-color: rgb(139, 58, 4); 
    font-size:x-large;
    box-shadow:  rgb(245, 185, 65);
    background-color: rgb(139, 58, 4);
    background-color: rgba(139, 58, 4, 0.5);
    text-transform: uppercase;
}

div header :hover{

background-color:rgb(54, 21, 0);
zoom: 115%;


}

#contact{
background-color:rgb(54, 21, 0);
font-size: 30px;
}


.ContactUsHead{
    margin-left: 500px;
    margin-top: 100px;
    box-sizing: content-box;
    box-shadow: 5px;
    font-weight: bold;
    font-size: 30px;
    width:600px;
    height:420px;
    text-align: center;
    line-height: 90px;
    text-shadow: 4px 4px 8px black;
    box-shadow: 10px 10px 5px black;
    border-radius: 7px;
    background-color: rgba(139, 58, 4, 0.5);
    padding: 5px;

  }
  #us{
    text-align:center;
    text-shadow: 10px 10px 15px black;
    font-size: 50px;
  }

  